body {
  background: url("../images/home_background.jpg") no-repeat fixed;
  background-size: 100% 100%;
}

h1 {
  color: black;
}

nav {
  background-color: white;
}

#enter_button {
  background-color: #A7756B;
}

.home-page-intro {
  margin-top: 200px;
  text-align: center;
}
