body {
  background: url("../images/home_background.png") no-repeat fixed;
  background-size: 100% 100%;
  max-width: 100%;
  height: auto;
}

.title {
  padding-top: 200px;
  font-family: 'Sofia', cursive;
  color: white;
  font-size: 70px;
  text-align: center;
  text-shadow: 2px 2px #716A5C;
}

.sub-title {
  color: white;
  font-size: 30px;
}

nav {
  background-color: white;
  overflow: hidden;
  text-align: center;
}

.nav-button {
  display: inline-block;
  text-align: center;
  color: grey;
  font-size: 18px;
  font-style: normal;
}


@media screen and (max-width: 580px) {
  nav ul {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
  }
  .nav-button {
    width: 100%;
    font-size: 14px;
    margin: 0;
  }
  background {
    width: 100%;
  }
  .title {
    width: 100%;
    font-size: 40px;
  }
  .sub-title {
    width: 100%;
    font-size: 17px;
  }
}
