body {
  background: url("../images/home_background.jpg") no-repeat fixed;
  background-size: 100% 100%;

}

.title {
  color: black;
  font-size: 70px;
  text-shadow: 2px 2px #716A5C;
}

h5 {
  color: black;
  text-shadow: 2px 2px white;
}

nav {
  background-color: white;
}

#enter_button {
  background-color: #17BEBB;
}

.home-page-intro {
  margin-top: 200px;
  text-align: center;
}

.container {
  font-family: 'Sofia', cursive;
}

.krissy {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
