.parallax-container {
      height: 500px;
    }

nav {
  background-color: white;
}

h3 {
  color: #00A3A3;
  font-family: Verdana;
}


p, ol{
  color: #716A5C;
  font-size: 16px;
  font-family: Verdana;
}

.nav-button {
  color: #716A5C;
  font-family: Verdana;
  font-size: 18px;
}
