.parallax-container {
      height: 500px;
    }

nav {
  background-color: #A7756B;
}

h1, p {
  color: #A7756B;

}

.nav-button {
  color: white;
  font-family: 'Sofia', cursive;
  font-size: 18px;
}
