.parallax-container {
      height: 500px;
    }

nav {
  background-color: #A7756B;
}

p {
  color: #A7756B;
  font-size: 18px;

}

h1 {
  color: black;
  font-size: 24px;
  font-family: Arial;

}

.nav-button {
  color: white;
  font-family: 'Sofia', cursive;
  font-size: 18px;
}
