.parallax-container {
      height: 500px;
    }

nav {
  background-color: white;
}

h1, p {
  color: #A7756B;

}

.nav-button {
  color: black;
  font-family: 'Sofia', cursive;
  font-size: 20px;
}
