body {
  background-color: white;
}

nav {
  background-color: white;
}

.nav-button {
  color: #716A5C;
  font-family: Verdana;
  font-size: 18px;
}

.card {
  width: 300px;
  margin: 20px 20px 20px 20px;
  float: left;
}

h3 {
  color: #FF5E5B;
}
