body {
  background-color: white;
}

nav {
  background-color: white;
  overflow: hidden;
  text-align: center;
}

.nav-button {
  display: inline-block;
  text-align: center;
  color: grey;
  font-size: 18px;
  font-style: normal;
}

.card {
  width: 300px;
  margin: 20px 20px 20px 80px;
  float: left;
}

h4 {
  color: #00A3A3;
}

@media screen and (max-width: 580px) {
nav ul {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}

.nav-button {
  width: 100%;
  font-size: 14px;
  margin: 0;
}

.row-container {
  width: 100%;
}
.card {
  width: 100%;
}

.card-content {
  width: 100%;
}
.card-reveal {
  width: 100%;
  font-size: 12px;
}
h4 {
  font-size: 18px;
}
