body {
  background-color: white;
}

nav {
  background-color: #A7756B;
}

.nav-button {
  color: white;
  font-family: Verdana;
  font-size: 18px;
}

.card {
  width: 400px;
  margin: 20px 20px 20px 20px;
  float: left;
}
