body {
  background: url("../images/say_hello_background.png") no-repeat fixed;
  background-size: 100% 100%;
}

.nav-button {
  color: white;
  font-family: 'Sofia', cursive;
  font-size: 18px;
}

nav {
  background-color: #A7756B;
}

#submit-button {
  background-color: #A7756B;
}
